<!DOCTYPE html>
<html>

<head>
    <title>Customers Registered</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/4.0.11/css/tableexport.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/4.0.11/js/tableexport.min.js"></script>


    <style>
        body {
            width: 800px;
            margin: 0 auto;
            background-color: #eee;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>

<body>
    <h2><b>Customers Registered Report</b></h2>

    <table class="table table-striped table-bordered table-condensed table-hover">


        <tr>
            <th>Customer Id</th>
            <th>Customer Station</th>
            <th>Station Name</th>

        </tr>

        {% for customer in customers %}

        <tr>
            <td>{{ customer.0 }}</td>
            <td>{{ customer.1 }}</td>
            <td>{{ customer.2 }}</td>

        </tr>

        {% endfor %}

    </table>
    <a href="{% url 'customer:customers_pdf_report' %}"><button>Export to pdf</button></a>
    <a href="{% url 'customer:customers_excel_report' %}"><button>Export to excel</button></a>

</body>

</html>